{% extends 'originedanse.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h2>Formulaire de Contact</h2>

<div class="container">
  <form>

    <label for="fname">Prénom</label>
    <input type="text" id="fname" name="prenom" placeholder="Votre prénom..">

    <label for="lname">Nom</label>
    <input type="text" id="lname" name="nom" placeholder="Votre nom..">

    <label for="country">Pays</label>
    <select id="country" name="pays">
      <option value="france">France</option>
      <option value="belgique">Belgique</option>
      <option value="suisse">Suisse</option>
      <option value="espagne">Espagne</option>
    </select>

    <label for="subject">Sujet</label>
    <textarea id="subject" name="sujet" placeholder="Votre message.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
{% endblock %}
