*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
body {
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #031472;
    padding: 0;
    margin: 0%;
}
header {
    width: 100%;
}
nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}
ul li{
    list-style-type: none;
    width: 100%;
    background-color: #031472;
    color: #b4351c;
    font-family: 'Ubuntu', sans-serif;  
    font-size: 30px;
}
ul{
    margin: 0px;
    text-decoration: #0c49df 1px solid;
}
li{
    padding: 0;
    margin-right: 10px;
    align-items: center;  
}
a{
    color:#b4351c;
    text-decoration: none;
}
a:hover{
    color: #0c49df;
}

/*main{
    padding: 0;
    margin: 0;
}

main>figure img{
    width: 100%;
    display: flex;
    position: fixed;
}*/
h1{
    color: #b4351c;
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
/*********** SECTION ARTICLE **********/
main section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
main article {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70%;
}
article{
    display: flex;
    flex-direction: column;
}
h2{
    display: flex;
    flex-direction: column;
    color: #b4351c;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}
p{
    color:  #668cff;
    font-size: medium;
}

article figure img{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
article iframe{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
/*aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

/********************** FOOTER NAV *************************/

footer{
    padding: 0px 0px 0px 0px;
} 
footer nav{
    display: flex;
    flex-direction: row;
}
footer nav ul{
    display: flex;
    flex-direction: column;
   /* justify-content: left;*/
    margin: 0%;
    padding: 10px;
    width: 100%;
}
footer nav ul li{
    list-style-type: none;
    width: 100%;
    background-color: #031472;
    font-family: 'Ubuntu', sans-serif;  
    font-size: 30px;
}
a{
    color:#b4351c;
}
a:hover{
    color: #0c49df;
}

/*****FOOTER SOCIAL MEDIA***/
footer section{
    display: flex;
    justify-content: center;
}
footer figure{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
}
footer section+section a {
    margin:0 25px;
    transition: opacity 400ms ease-out;
}
footer section+section a:hover, footer section+section a:focus {
    opacity: 0.5;
}
/* ........ footer copyright ........ */
footer section+p {
    color: #b4351c;
    text-align: center;
}

@media all and (min-width:1030px) {

/* ============================= global layout =============================== */
html{
    font-size: 50%;
}
header {
    display: flex;
    flex-direction: row;
}
header nav ul{
    display: flex;
    flex-direction: row;
    width: auto;
}
header nav ul li{
    width: auto;
    padding: 10px;
    margin: 10px;
}
h1{
    font-size: 50px;
}
li{
    font-size: 20px;
}
/* =================================== main =================================== */

/* ........ large image ......... */
main>figure img {
    width: 100%;
    position: static;
    padding: 10px;
}
/** IFRAME****/

iframe{
        width: 100%;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
}

/* ........ articles ......... */
/*main section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main article {
    position: relative;
    margin-bottom: 70px;
    width: 35%;
}*/
/* =================================== footer =================================== */
/* ........ footer nav ......... */
footer nav{
    display: flex;
    flex-direction: row;
    width: 100%
}
footer nav ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center;*/
    width: 100%;
}
footer nav ul li{
    display: flex;
    justify-content: center;
    list-style-type: none;
    /* background-color: yellow;*/
    font-family: 'Ubuntu', sans-serif;  
    
}

/* ........ footer div ....... */
footer>div {
    padding-top: 65px;
}
/* ........ arguments ......... */
footer nav+section article {
    width: 22%;
}
footer nav+section article figure {
    width: 30%;
}
/* ........ social ......... */
footer section+section a {
    margin: 0 35px;
}
}
main .icon{
    display: flex;
    flex-direction: row;
    
}

/*......INSCRIPTION CSS...*/

.container {
    padding: 16px;
    background-color: #031472;
}
  
  /* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background:  #0c49df;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Overwrite default styles of hr */
hr {
border: 1px solid  #0c49df;
margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
background-color: #b4351c;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.registerbtn:hover {
opacity: 1;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
background-color:  #0c49df;
text-align: center;
}
label{
    color: #b4351c;
    font-size: medium;
}
/*..... CONNEXION CSS .... */

/* Full-width inputs */
input[type=email], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
background:  #0c49df;
}
input[type=email]:focus{
background-color: #ddd;
outline: none;
}

/* Set a style for all buttons */
button {
background-color: #b4351c;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: red;
}

/* Center the avatar image inside this container */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
width: 15%;
border-radius: 50%;
}

/* Add padding to containers */
.container {
padding: 16px;
}

/* The "Forgot password" text */
span.psw {
float: right;
padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
}
}

/** MISE EN FORME DES IMAGES DANS LES PAGES DE MES ARTICLES(POSTS) DETAILLES**/
.rize{
display: block;
margin-left: auto;
margin-right: auto;
width: 25%;
height: 20%;
}
/** MISE EN FORME DE L'IMAGE PRINCINCIPAL EN BACKGROUND DANS origine.html.twig**/
.nach{
display: flex;
flex-direction: row;

flex-wrap: nowrap;

height: 60vh;

min-height: fit-content;

/* Center and scale the image nicely */
background-position: top;
background-repeat: no-repeat;
background-size: cover;

/* Needed to position the navbar */
position: relative;
}
.logo{
    display: inline;
}

/*** MISE EN PAGE DU FORMULAIRE DE LA PAGE CONTACT ***/
select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
background-color: #0c49df;
}
select:focus{
background-color: #ddd;
outline: none;
}


textarea:focus{
background-color: #ddd;
outline: none;
}

input[type=submit] {
background-color: #b4351c;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
input[type=submit]:hover {
background-color:#0c49df;
}

/*** Mise en place de OLD POST dans template home.html.twig ***/
.test{
    width: 60%;
    margin: auto;
}
.ancienArticle{
    text-transform: uppercase;
    color: #e42e0a;
    border: 1px solid #e42e0a;
    margin-left: 50%;
    width: 57%;
    padding: 5px 0;
    transform: translateX(-50%);
    border-radius: 5px;  
}
.test p{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-top: -10px;
}

.post-preview{
    padding-bottom: 12px;
}
.test a{
    margin-left: 80%;
}
/**** PAGE PORTOFOLIO POUR COURS DE DANSE ***/

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 40px;
    word-break: break-all;
  }
  
  h4 {
    font-size: medium;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #0c49df;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color:#b4351c;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #200c6a;
  }
  
  .btn.active {
    background-color: #0c49df;
    color: white;
  }
/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden; 
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
   /*top: 0; /* At the top */
    z-index: 1;
    background-color: #031472;
}
#navbar-right {
    float: right;
}
#navbar-right a{
    width: 110px;
}
@media all and (max-width: 1030px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: flex;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}
/***RESET PASSWORD*** /
small{
  font-size: 30px
}